######################################################################################
#                                   GITIGNORE FILE
######################################################################################

*.tfstate
*.lock.hcl
.terraform
*.tfstate.backup
